@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.languages {
    @include flex-vertical;
    @include shadow;
    gap: $small-gap;
    position: absolute;
    background-color: $prim-color-1;
    padding: 0.5rem;
    border-radius: 50rem;
    top: 1rem;
    left: 1rem;
    border: 1px solid $prim-color-3;

    &:hover {
        cursor: pointer;
    }

    &__flags {
        @include flex-vertical;
        position: relative;

        &-current {
            width: 1.75rem;
            height: 1.75rem;
        }

        &-hover {
            @include flex-column;
            @include shadow;
            padding: 0.25rem;
            border-radius: 10rem;
            position: absolute;
            top: 3.25rem;
            left: -0.75rem;
            border: 1px solid $prim-color-3;

            &-item {
                @include flex-vertical;
                padding: 0.5rem;
                border-radius: 50%;
                background-color: $prim-color-1;

                &:hover {
                    cursor: pointer;
                    background-color: #f2ecfd;
                }

                &-indv {
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
        }
    }

    &__align {
        width: 1.25rem;
        height: 1.25rem;
        opacity: 50%;
    }

    &__triangle {
        width: 0.425em;
        height: 0.425em;
        opacity: 50%;
    }
}

.flip {
    transform: rotate(180deg);
}
