@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.languages {
    @include flex-column;
    gap: $small-gap;
    position: relative;

    &__box {
        @include flex;
        @include shadow;
        background-color: $prim-color-1;
        border-radius: 0.25rem;
        padding: 0.5rem;
        border: 1px solid $prim-color-3;

        &:hover {
            cursor: pointer;
            background-color: $prim-color-3;
        }

        &-svg {
            width: 1rem;
            height: 1rem;
        }
    }

    &__hover {
        @include flex-column;
        gap: $small-gap;
        max-height: 13.75rem;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &-box {
            @include flex;
            @include shadow;
            background-color: $prim-color-1;
            border-radius: 0.25rem;
            padding: 0.5rem;
            border: 1px solid $prim-color-3;

            &:hover {
                cursor: pointer;
                background-color: $prim-color-3;
            }

            &-svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__reveal {
        @include flex-vertical;
        @include shadow;
        position: absolute;
        top: 0;
        left: 2.75rem;
        background-color: $prim-color-1;
        border-radius: 0.25rem;
        border: 1px solid $prim-color-3;
        height: 2.15rem;
        padding: 0.5rem;
    }
}
