@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

html {
    max-width: 42.5rem;
    margin: auto;
    background-color: $prim-color-2;
    overflow-x: hidden;

    @include desktop {
        max-width: 157.5rem;
    }
}
