@use "./variables" as *;

// Tablet and Desktop Breakpoints

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.10);
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-vertical {
    display: flex;
    align-items: center;
}
