@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editor-page {
    height: 100%;
    position: relative;

    &__nav {
        @include flex-space-between;
        background-color: $prim-color-1;
        border-bottom: 1px solid $prim-color-3;
        padding: $small-padding;

        &-width {
            @include flex-vertical;
            justify-content: center;
            gap: $small-gap;
            width: 100%;

            &-mood,
            &-length {
                @include flex-vertical;
                gap: $small-gap;
                padding-left: $small-padding;
                border-left: 1px solid $prim-color-3;
            }
        }

        &-placeholder {
            min-width: 27.5rem;
            max-width: 27.5rem;
        }
    }

    &__box {
        @include flex-space-between;
        height: 100%;
        position: relative;

        &-editor {
            @include flex-column;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            &-input {
                @include shadow;
                position: relative;
                align-self: center;
                margin: $medium-padding;
                min-width: 50rem;
                width: 57.5%;
                height: 100%;

                &-textarea {
                    border: 1px solid $prim-color-3;
                    outline: none;
                    resize: none;
                    height: 100%;
                    width: 100%;
                    padding: 3.25rem;
                }

                &-items {
                    @include flex-column;
                    gap: $small-gap;
                    position: absolute;
                    top: 1rem;
                    right: -1rem;
                }
            }

            &-choose {
                @include flex-vertical;
                justify-content: center;
                left: 0;
                bottom: 0rem;
                border-top: 1px solid $prim-color-3;
                min-height: 2rem;
                max-height: 2rem;
                padding: $medium-padding;
                width: 100%;
                background-color: $prim-color-1;

                &-box {
                    @include flex-vertical;
                    justify-content: space-between;
                    width: 50%;

                    &-headers {
                        @include flex-vertical;
                        gap: $small-gap;
                    }

                    &-words {
                        @include flex-vertical;
                        gap: $small-gap;
                    }
                }
            }
        }

        &-suggestions {
            padding: $medium-padding;
            border-left: 1px solid $prim-color-3;
            min-width: 27.5rem;
            max-width: 27.5rem;
            background-color: $prim-color-1;

            &-data {
                font-weight: 500;
            }
        }
    }
}
