@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.highlight {
    background-color: yellow;
}

.editor-page {
    height: 100%;
    position: relative;

    &__nav {
        @include flex-space-between;
        background-color: $prim-color-2;
        border-bottom: 1px solid $prim-color-3;
        padding: $small-padding;

        &-width {
            @include flex-vertical;
            gap: $small-gap;
            width: 100%;

            &-section {
                @include flex-vertical;
                gap: $small-gap;
                border-left: 1px solid $prim-color-3;
                padding-left: $small-padding;
                height: 75%;
            }
        }

        &-placeholder {
            min-width: 27.5rem;
            max-width: 27.5rem;
        }
    }

    &__box {
        @include flex-space-between;
        height: 100%;
        position: relative;

        &-editor {
            height: 100%;
            width: 100%;

            &-input {
                position: relative;
                align-self: center;
                min-width: 50rem;
                height: 100%;

                &-textarea {
                    border: none;
                    outline: none;
                    resize: none;
                    height: 100%;
                    width: 100%;
                    padding: 3.25rem;
                }
            }
        }

        &-suggestions {
            padding: $medium-padding;
            border-left: 1px solid $prim-color-3;
            min-width: 27.5rem;
            max-width: 27.5rem;
            background-color: $prim-color-1;

            &-data {
                font-weight: 500;
            }
        }
    }
}
