@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    @include flex-vertical;
    padding: $small-padding 2rem;
    background-color: $prim-color-1;
    border-bottom: 1px solid #e5e7eb;
    justify-content: space-between;

    &__logo {
        @include flex-vertical;
        gap: $small-gap;

        &-img {
            width: 2rem;
            height: 2rem;
        }

        &-name {
            color: #5e17eb;
        }
    }

    &__nav {
        @include flex-vertical;
        gap: $medium-gap;

        &-chrome,
        &-upgrade {
            @include flex-vertical;
            gap: $small-gap;
            padding: 0.5rem;

            &-logo {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        &-chrome {
            &:hover {
                cursor: pointer;
                background-color: $prim-color-3;
                border-radius: 0.25rem;
            }
            &-cta {
                letter-spacing: 0.5px;
                font-weight: 500;
            }
        }

        &-upgrade {
            @include shadow;
            position: relative;
            background-color: #5e17eb;
            border-radius: 10rem;
            padding: 0.5rem 1rem;

            &:hover {
                transform: scale(1.025);
                cursor: pointer;
            }

            &-star {
                &-top {
                    position: absolute;
                    z-index: 1;
                    top: -0.75rem;
                    right: 1rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &-bottom {
                    position: absolute;
                    z-index: 1;
                    bottom: -0.75rem;
                    left: -1.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            &-cta {
                letter-spacing: 0.5px;
                color: $prim-color-1;
            }
        }
    }
}
