@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    @include flex-vertical;
    padding: $small-padding 2rem;
    background-color: $prim-color-1;
    border-bottom: 1px solid #e5e7eb;
    justify-content: space-between;

    &__logo {
        width: 6.75%;
    }

    &__nav {
        @include flex-vertical;
        gap: $large-gap;

        &-chrome,
        &-upgrade {
            @include flex-vertical;
            gap: $small-gap;
            padding: 0.5rem;

            &-logo {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        &-chrome {
            &:hover {
                cursor: pointer;
                background-color: $prim-color-3;
                border-radius: 0.25rem;
            }
            &-cta {
                letter-spacing: 0.5px;
                font-weight: 700;
            }
        }

        &-upgrade {
            &:hover {
                cursor: pointer;
                background-color: #f9ecfe;
                border-radius: 0.25rem;
            }

            &-cta {
                letter-spacing: 0.5px;
                font-weight: 700;
                color: #8b0abe;
            }
        }

        &-profile {
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
        }
    }
}
