@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editor-buttons {
    @include flex-vertical;
    gap: $small-gap;
    border: 1px solid $prim-color-3;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    &:hover {
        cursor: pointer;
        background-color: $prim-color-3;
    }

    &__img {
        width: 1rem;
        height: 1rem;
    }

    &__name {
        font-size: 0.75rem;
        font-weight: 500;
    }
}
